<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/icons/favicon-16x16.png">
    <link rel="shortcut icon" href="../../static/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../../static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../static/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../../static/icons/android-chrome-512x512.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="../../static/styles/main.css">
    <title>CatDustry</title>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        if (!document.cookie) {
            alert("Посещая этот сайт вы соглашаетесь с сохранением cookie на этом сайте.\n\n* сайт собирает данные о настроенной вами теме.")
        }
    });
    </script>
  </head>
  <body>
    <div class="stripe1"></div>
    <div class="stripe2"></div>
    <header>
        <a class="header-item" href="#">GitHub</a>
        <a class="header-item" href="https://t.me/CatDustry">Telegram</a>
        <a class="header-item switch" href="../en_US/index.html">English</a>
        <select class="header-item" name="Background" id="bg-switcher">
          <option value="#38393f">По умолчанию</option>
          <option value="#b0b9c0">Серпуло 1</option>
          <option value="#6e7080">Серпуло 2</option>
          <option value="#989aa4">Эрекир 1</option>
          <option value="#4a4b53">Эрекир 2</option>
        </select>
        <select class="header-item" name="Primary" id="primary-switcher">
          <option value="#ffd37f">По умолчанию</option>
          <option value="#84f490">Нова 1</option>
          <option value="#62ae7e">Нова 2</option>
          <option value="#bf92f8">Малис 1</option>
          <option value="#665c9f">Малис 2</option>
          <option value="#ffa664">Пиро 1</option>
          <option value="#d06b53">Пиро 2</option>
          <option value="#d0efff">Аква 1</option>
          <option value="#8ca8e8">Аква 2</option>
        </select>
      </div>
    </header>

    <main class="master">
      <div>
        <p>
          <h1>Добро пожаловать в CatDustry!</h1>
          <h3>CatDustry - это уникальная сетевая инфраструктура, объединяющая в одном пространстве различные игровые и коммуникационные сервисы. Она включает в себя несколько мощных серверов и решений, предоставляющих пользователям доступ к разнообразным функциям и возможностям для общения и совместной игры.</h3>
          <ul>
            <li>Серверы Mindustry: CatDustry размещает серверы Mindustry, на которых пользователи могут строить производственные цепочки, сражаться и взаимодействовать. Игроки развивают базы, автоматизируют добычу и создают ресурсы.</li>
            <br>
            <li>Интеграция Telegram: Интеграция Telegram позволяет пользователям управлять игровым процессом через мессенджер, упрощая общение и взаимодействие с сервером с помощью команд и уведомлений.</li>
            <br>
            <li>Серверы Factorio и Satisfactory: CatDustry включает в себя серверы Factorio и Satisfactory, позволяющие игрокам совместно создавать и оптимизировать производственные процессы.</li>
            <br>
            <li>Файлообменник: CatDustry предлагает безопасную файлообменную платформу для удобного обмена игровыми модами, схемами и другими материалами.</li>
            <br>
            <li>Сервер Matrix: Сервер Matrix поддерживает чат, звонки и интеграции, предлагая платформу для общения, обсуждения игр и поиска единомышленников.</li>
          </ul>
          <h3>CatDustry - это пространство, где игры, общение и обмен файлами объединены в единую экосистему, позволяющую пользователям получать максимум удовольствия от своих увлечений.</h3>
        </p>
      </div>
    </main>

    <footer>
      <a class="footer-item" href="https://fileshare.catdustry.ru">Файлообменник</a>
      <a class="footer-item" href="#">Сервера Mindustry</a>
      <a class="footer-item" href="#">Сервера Satisfactory</a>
      <a class="footer-item" href="#">Сервера Factorio</a>
      <a class="footer-item" href="#">Сервер Matrix</a>
    </footer>
    <script src="../../static/scripts/main.js"></script>
  </body>
</html>
