<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/icons/favicon-16x16.png">
    <link rel="shortcut icon" href="../../static/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../../static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../static/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../../static/icons/android-chrome-512x512.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="../../static/styles/main.css">
    <title>CatDustry</title>
  </head>
  <body>
    <div class="stripe1"></div>
    <div class="stripe2"></div>
    <main class="master">
      <h1>Недоступно на мобильных устройствах. Пожалуйста, используйте десктопные устройства.</h1>
    </main>
    <h3 id="rofl">ИЗЫДИ НАХУЙ, ИЗЫДИ К ХУЯМ БЛЯТЬ!</h3>
    <style>
      #rofl {
        color: rgba(255, 211, 127, 0);
      }
    </style>
  </body>
</html>
