<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/icons/favicon-16x16.png">
    <link rel="shortcut icon" href="../../static/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../../static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../static/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../../static/icons/android-chrome-512x512.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="../../static/styles/main.css">
    <title>CatDustry</title>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
      if (!document.cookie) {
        alert("By visiting this site you agree to the storage of cookies on this site.\n\n* the site collects data about the theme you have customized.")
      }
    });
    </script>
  </head>
  <body>
    <div class="stripe1"></div>
    <div class="stripe2"></div>
    <header>
        <a class="header-item" href="#">GitHub</a>
        <a class="header-item" href="https://t.me/CatDustry">Telegram</a>
        <a class="header-item switch" href="../ru_RU/index.html">Русский</a>
        <select class="header-item" name="Background" id="bg-switcher">
          <option value="#38393f">Default</option>
          <option value="#b0b9c0">Serpulo 1</option>
          <option value="#6e7080">Serpulo 2</option>
          <option value="#989aa4">Erekir 1</option>
          <option value="#4a4b53">Erekir 2</option>
        </select>
        <select class="header-item" name="Primary" id="primary-switcher">
          <option value="#ffd37f">Default</option>
          <option value="#84f490">Heal 1</option>
          <option value="#62ae7e">Heal 2</option>
          <option value="#bf92f8">Malis 1</option>
          <option value="#665c9f">Malis 2</option>
          <option value="#ffa664">Pyra 1</option>
          <option value="#d06b53">Pyra 2</option>
          <option value="#d0efff">Aqua 1</option>
          <option value="#8ca8e8">Aqua 2</option>
        </select>
      </div>
    </header>

    <main class="master">
      <div>
        <p>
          <h1>Welcome to CatDustry!</h1>
          <h3>CatDustry is a unique network infrastructure that integrates various gaming and communication services in one space. It encompasses several powerful servers and solutions, providing users with access to a variety of features and capabilities for communication and cooperative play.</h3>
          <ul>
            <li>Mindustry Servers: CatDustry hosts Mindustry servers where users can build production chains, battle, and interact. Players develop bases, automate mining, and create resources.</li>
            <br>
            <li>Telegram Integration: Telegram integration lets users manage gameplay through the messenger, simplifying communication and server interactions with commands and notifications.</li>
            <br>
            <li>Factorio and Satisfactory Servers: CatDustry includes servers for Factorio and Satisfactory, enabling players to collaborate on building and optimizing manufacturing processes.</li>
            <br>
            <li>File Sharing: CatDustry offers a secure file-sharing platform for exchanging game mods, schematics, and other materials conveniently.</li>
            <br>
            <li>Matrix Server: The Matrix server supports chat, calls, and integrations, offering a platform for communication, gaming discussions, and finding like-minded users.</li>
          </ul>
      <h3>CatDustry is a space where games, communication and file sharing are connected in a single ecosystem, allowing users to get the maximum pleasure from their hobbies.</h3>
        </p>
      </div>
    </main>

    <footer>
      <a class="footer-item" href="https://fileshare.catdustry.ru">File Sharing</a>
      <a class="footer-item" href="#">Mindustry Servers</a>
      <a class="footer-item" href="#">Satisfactory Servers</a>
      <a class="footer-item" href="#">Factorio Servers</a>
      <a class="footer-item" href="#">Matrix Server</a>
    </footer>
    <script src="../../static/scripts/main.js"></script>
  </body>
</html>
